.contato {
    background-color: var(--white);
    padding: 1em;
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
}

.contato__texto {
    margin: 1em 0;

}

.contato__email {
    padding: 1em;
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
}

.contato__email::placeholder {
    font-family: var(--font-Poppins);
    background-color: transparent;
    color: var(--blue);
    background: url("/Email.svg") no-repeat;
    padding-left: 2em;
}